<launch>
    <!-- <node pkg="attn_scan_ros" type="attn_scan_weighted_pub.py" name="attn_pc" output="screen">
        <remap from="scan" to="scan_filtered" />
    </node> -->

    <node pkg="icp" type="weighted_icp_node.py" name="weighted_icp" output="screen">
        <remap from="scan" to="scan_weighted" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find icp)/launch/rviz/icp.rviz" />
</launch>